<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form *ngIf="registerationForm" [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName">
            <span *ngIf="!registerationForm.get('userName')?.valid && registerationForm.get('userName')?.touched" class="error-block">
              Please provide a valid name
            </span>
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="!registerationForm.get('email')?.valid && registerationForm.get('email')?.touched" class="error-block">
              <span *ngIf="registerationForm.get('email')?.hasError('required');">
                Please provide an email
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <span *ngIf="!registerationForm.get('password')?.valid && registerationForm.get('password')?.touched" class="error-block">
              <span *ngIf="registerationForm.get('password')?.hasError('required');">
                Please provide a password
              </span>
              <span *ngIf="registerationForm.get('password')?.hasError('minlength');">
                Password must be at least 8 characters long
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <span *ngIf="!registerationForm.get('confirmPassword')?.valid && registerationForm.get('confirmPassword')?.touched" class="error-block">
              <span *ngIf="registerationForm.get('confirmPassword')?.hasError('required');">
                Please confirm your password
              </span>
              <span *ngIf="registerationForm.get('confirmPassword')?.hasError('minlength');">
                Confirm password must be at least 8 characters long
              </span>
              <span *ngIf="registerationForm.get('confirmPassword')?.hasError('notmatched');">
                Passwords do not match
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile">
          </div>

          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
          </div>

          <div>
            Form values: {{ registerationForm.value | json }} <br/>
            Form status: {{ registerationForm.valid }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
